<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header text-center bg-primary text-white">
      <h2>Carseer Car Search</h2>
    </div>
    <div class="card-body">
      <!-- Car Make -->
      <div class="mb-3 row">
        <label for="make" class="col-sm-3 col-form-label">Car Make</label>
        <div class="col-sm-9">
          <ng-select [items]="makes"
                     bindLabel="make_Name"
                     bindValue="make_ID"
                     [(ngModel)]="selectedMake"
                     (change)="onMakeChange()"
                     >
          </ng-select>
        </div>
      </div>

      <!-- Manufacture Year -->
      <div class="mb-3 row">
        <label for="year" class="col-sm-3 col-form-label">Manufacture Year</label>
        <div class="col-sm-9">
          <input type="number" id="year" class="form-control" [(ngModel)]="selectedYear" placeholder="Enter Year" />
        </div>
      </div>

      <!-- Vehicle Type -->
      <div class="mb-3 row">
        <label for="vehicleType" class="col-sm-3 col-form-label">Vehicle Type</label>
        <div class="col-sm-9">
          <ng-select [items]="vehicleTypes"
                     bindLabel="vehicleTypeName"
                     bindValue="vehicleTypeId"
                     [(ngModel)]="selectedType"
                     >
          </ng-select>
        </div>
      </div>

      <!-- Get Models Button -->
      <div class="text-center">
        <button class="btn btn-success btn-lg" (click)="getModels()">Get Models</button>
      </div>
    </div>
  </div>

 <!-- Available Models Section with Pagination -->
<div *ngIf="models.length > 0" class="mt-5">
  <div class="card">
    <div class="card-header bg-secondary text-white">
      <h3 class="text-center">Available Models</h3>
    </div>
    <div class="card-body">

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Search Models" [(ngModel)]="searchText" />
      </div>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let model of filteredModels() | paginate: { itemsPerPage: 5, currentPage: page }; ">
          {{ model.make_Name }} | {{ model.model_Name }}
        </li>
      </ul>
      <!-- Pagination Controls -->
      <pagination-controls (pageChange)="page = $event" class="d-flex justify-content-center mt-3"></pagination-controls>
    </div>
  </div>
</div>

